@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Charm:wght@400;700&family=Geist:wght@100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+SC&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
	font-family: 'Inter', sans-serif;
}

.hidscrol::-webkit-scrollbar {
	display: none;
}

@keyframes flyAnimation {
	0% {
		transform: translate(0, 0) rotate(0deg);
		position: sticky;
		opacity: 1;
	}

	10% {
		transform: translate(100px, -80px) rotate(0deg);
		position: sticky;
		opacity: 1;
	}

	20% {
		transform: translate(200px, -70px) rotate(15deg);
		position: sticky;
		opacity: 0.8;
	}

	30% {
		transform: translate(400px, 100px) rotate(95deg);
		position: sticky;
		opacity: 0.8;
	}

	40% {
		transform: translate(300px, 300px) rotate(180deg);
		position: sticky;
		opacity: 0.8;
	}

	50% {
		transform: translate(150px, 430px) rotate(180deg);
		position: sticky;
		opacity: 0.8;
	}

	60% {
		transform: translate(50px, 400px) rotate(200deg);
		position: sticky;
		opacity: 0.8;
	}

	70% {
		transform: translate(-100px, 330px) rotate(220deg);
		position: sticky;
		opacity: 0.8;
	}

	100% {
		transform: translate(-300px, 200px) rotate(242deg);
		position: relative;
		opacity: 0;
	}
}